.boton{
    background-color: tan;
    width: 90px;
    height: 40px;
}

.boton:hover{
    color: white;
    background-color: green;
}

.boton::before{
    content: "Pasa por encima";
}


.boton:hover::before{
    content: "¡Hecho!";
}